## SQL SUBQUERIES

### What are SQL SUBQUERIES?

**SQL subqueries**, also known as **nested queries**, are queries within queries in SQL. A subquery is a powerful feature that allows data analysts to create complex and dynamic queries by embedding one query inside another. Subqueries act as temporary tables, generating a result set that is used by the outer query to perform further operations.

In simpler terms, a subquery is a query that is executed within the context of another query. It helps break down complex problems into smaller, more manageable parts, making it easier to extract meaningful insights from the data.

#### Key Points about **SQL Subqueries**:

1. **Purpose**: The primary purpose of using subqueries is to retrieve data from one or more tables and then use that data as a condition or criteria for another query.

2. **Types**: There are several types of subqueries, including single-row subqueries (returning a single row), multi-row subqueries (returning multiple rows), multiple-column subqueries (returning multiple columns), and correlated subqueries (dependent on the outer query).

3. **Syntax**: Subqueries are usually placed within parentheses and can be used in various parts of SQL statements, such as the WHERE, HAVING, and FROM clauses.

4. **Usage**: Subqueries are commonly used to filter data, aggregate data, perform calculations, or create temporary tables for further analysis.

#### Example of a **SQL Subquery**:

Let's consider a scenario where we want to find all customers who have made purchases with a total value greater than the average purchase value. We can achieve this using a subquery as follows:

```sql
SELECT customer_id, first_name, last_name
FROM customers
WHERE order_total > (SELECT AVG(order_total) FROM orders);
```

In this example, the subquery `(SELECT AVG(order_total) FROM orders)` calculates the average order total from the "orders" table. The outer query then retrieves the customer details where the order total is greater than the calculated average.

#### Advantages of SQL Subqueries:

1. **Simplifies Complex Queries**: Subqueries help break down complex queries into smaller, more manageable parts, making them easier to understand and maintain.

2. **Dynamic Querying**: Subqueries allow for dynamic and data-driven queries, as the results of the subquery can change based on the data in the underlying tables.

3. **Reusability**: Subqueries can be used in different parts of a SQL statement, enabling their reuse and promoting modular code.

4. **Improved Performance**: In some cases, subqueries can lead to improved performance by reducing the amount of data processed and improving query optimization.

### How to use SQL SUBQUERIES?

**SQL subqueries** can be used in various parts of SQL statements, such as the `WHERE, HAVING, FROM, and SELECT` clauses. The syntax and usage of subqueries depend on the specific type of subquery and the desired result. Here are some common use cases and examples of how to use **SQL subqueries**:

1. **Using Subqueries in the WHERE Clause**:

Subqueries in the `WHERE clause` are commonly used to filter data based on specific conditions. The subquery generates a result set, and the outer query uses it to filter the rows that meet the condition.

Example:
Let's find all customers who have made purchases with a total value greater than the average purchase value.

```sql
SELECT customer_id, first_name, last_name
FROM customers
WHERE order_total > (SELECT AVG(order_total) FROM orders);
```

2. **Using Subqueries in the FROM Clause (Derived Tables)**:

Subqueries in the `FROM clause` are used to create temporary tables, known as derived tables. These derived tables can be used like regular tables in the main query.

Example:
Let's calculate the total revenue generated by each category of products.

```sql
SELECT category, SUM(total_price) AS category_revenue
FROM (SELECT product_id, category, unit_price * quantity AS total_price
      FROM order_items) AS derived_table
GROUP BY category;
```

3. **Using Subqueries in the SELECT Clause**:

Subqueries in the `SELECT clause` are used to calculate values that are not directly available in the tables but are derived from other data.

Example:
Let's find the highest and lowest order totals for each customer.

```sql
SELECT customer_id, first_name, last_name,
       (SELECT MAX(order_total) FROM orders WHERE customer_id = c.customer_id) AS max_order_total,
       (SELECT MIN(order_total) FROM orders WHERE customer_id = c.customer_id) AS min_order_total
FROM customers c;
```

4. **Using Subqueries with Aggregate Functions**:

Subqueries can be combined with aggregate functions to perform calculations on subsets of data.

Example:
Let's find customers who have spent more than the average order total in their respective countries.

```sql
SELECT customer_id, first_name, last_name, country
FROM customers c
WHERE order_total > (SELECT AVG(order_total) FROM orders o WHERE o.country = c.country);
```

5. **Using Correlated Subqueries**:

**Correlated subqueries** are used when the subquery references columns from the outer query. The subquery is executed for each row of the outer query, making it less efficient but useful when data depends on related data.

Example:
Let's find all customers who have placed an order in the last 30 days.

```sql
SELECT customer_id, first_name, last_name
FROM customers c
WHERE EXISTS (SELECT 1 FROM orders o WHERE o.customer_id = c.customer_id AND order_date >= DATE_SUB(NOW(), INTERVAL 30 DAY));
```

### How does SQL SUBQUERIES work?

**SQL subqueries** work by embedding one query within another, allowing for dynamic and complex data manipulations. When executing a SQL statement with a subquery, the database system evaluates the subquery first, generating a result set that serves as a temporary table. The outer query then uses this result set to perform further operations and produce the final result.

Here's a step-by-step explanation of how SQL subqueries work:

1. **Execution Order**:
When a SQL statement with a subquery is executed, the database system follows a specific order of execution. The subquery is executed first, and its result set is stored in memory or temporary storage. Then, the outer query processes the result set from the subquery to produce the final result.

2. **Evaluation of Subquery**:
The subquery is evaluated independently of the outer query. It can be a SELECT, INSERT, UPDATE, or DELETE statement itself, but its result must be a single value, a single row, or multiple rows with one column.

3. **Result Set**:
The subquery's result set acts as a temporary table, which the outer query can use to filter, join, or perform other operations.

4. **Subquery in WHERE Clause**:
In the WHERE clause, the subquery acts as a filtering condition. The subquery's result set is used to select or exclude rows from the main table based on the condition specified in the subquery.

Example:
```sql
SELECT customer_id, first_name, last_name
FROM customers
WHERE order_total > (SELECT AVG(order_total) FROM orders);
```

In this example, the subquery `(SELECT AVG(order_total) FROM orders)` calculates the average order total from the "orders" table. The outer query then retrieves the customer details where the order total is greater than the calculated average.

5. **Subquery in FROM Clause**:
In the FROM clause, the subquery creates a derived table that can be used like a regular table in the main query. The outer query can perform aggregations, filtering, or joins with this derived table.

Example:
```sql
SELECT category, COUNT(*) AS num_products
FROM (SELECT DISTINCT category FROM products) AS derived_table
GROUP BY category;
```

Here, the subquery `(SELECT DISTINCT category FROM products)` creates a derived table containing distinct product categories. The outer query then calculates the number of products in each category using the derived table.

6. **Correlated Subqueries**:
In correlated subqueries, the subquery depends on the outer query for its results. The subquery is executed for each row of the outer query, allowing it to access related data for each row.

Example:
```sql
SELECT customer_id, first_name, last_name
FROM customers c
WHERE EXISTS (SELECT 1 FROM orders o WHERE o.customer_id = c.customer_id AND order_date >= DATE_SUB(NOW(), INTERVAL 30 DAY));
```

In this example, the subquery `(SELECT 1 FROM orders o WHERE o.customer_id = c.customer_id AND order_date >= DATE_SUB(NOW(), INTERVAL 30 DAY))` is correlated to the outer query. It checks if there exists at least one order for each customer in the last 30 days.


In summary, **SQL subqueries** provide a powerful mechanism for performing complex data analysis and filtering based on data from related tables. By embedding one query within another, data analysts can leverage the flexibility and versatility of SQL to extract valuable insights from large and intricate datasets.

# Theory Questions:

1. What are SQL subqueries and why are they used?

2. How do subqueries differ from regular SQL queries?

3. Explain the relationship between an outer query and a subquery.

4. How does a single-row subquery differ from a multi-row subquery?

5. What is a correlated subquery and how does it differ from a non-correlated subquery?

6. In which parts of a SQL statement can subqueries be used?

7. How are subqueries used in the FROM clause and what are derived tables?

8. How can subqueries be utilized to filter data based on aggregate functions?

9. Provide an example where a subquery is necessary to derive the desired data from a database.

10. Describe a scenario where using a subquery in the SELECT clause would be beneficial.

11. How can subqueries improve the readability and maintenance of SQL queries?

12. Why is the order of execution important when dealing with subqueries?

13. How can subqueries be combined with JOIN operations for complex data retrieval tasks?

14. What are common pitfalls or mistakes to avoid when working with subqueries?

15. Describe any limitations of subqueries and when it might be better to use an alternative approach.

### Table Creation Queries:

**Customers Table:**

```sql
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    country VARCHAR(50)
);

INSERT INTO customers (customer_id, first_name, last_name, country) VALUES
(1, 'Alice', 'Smith', 'USA'),
(2, 'Bob', 'Johnson', 'Canada'),
(3, 'Carol', 'Williams', 'UK'),
(4, 'David', 'Brown', 'Australia'),
(5, 'Emma', 'Jones', 'USA'),
(6, 'Frank', 'Garcia', 'Canada'),
(7, 'Grace', 'Miller', 'UK'),
(8, 'Henry', 'Davis', 'Australia');
```

**Orders Table:**

```sql
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    order_total DECIMAL(10, 2),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

INSERT INTO orders (order_id, customer_id, order_date, order_total) VALUES
(1, 1, '2023-01-10', 150.00),
(2, 2, '2023-02-15', 200.00),
(3, 1, '2023-03-20', 300.00),
(4, 3, '2023-04-25', 250.00),
(5, 2, '2023-05-30', 180.00),
(6, 4, '2023-06-04', 220.00),
(7, 5, '2023-07-09', 190.00),
(8, 6, '2023-08-14', 300.00),
(9, 7, '2023-09-19', 310.00),
(10, 8, '2023-10-24', 120.00),
(11, 3, '2023-11-29', 160.00),
(12, 1, '2023-12-04', 90.00);
```

# Easy Level:

Q. List all customers.

Q. Find the total number of orders.

Q. List customer names with their respective order counts.

Q. Find customers who have never placed an order.

Q. List all orders placed in the last 30 days.

Q. Find the latest order date for each customer.

Q. List customers and their last order total.

Q. Find customers with more than 5 orders.

Q. Display the customer with the highest order total.

# Medium Level:

Q. List customers who have spent more than the average order total.

Q. Find the total revenue per country.

Q. Show customers who placed orders on their first order date more than once.

Q. List customers who have not placed an order in the last year.

Q. Show the month with the highest total sales.

Q. Display the customer who placed the most orders last month.

Q. Find the customer who has the second highest total order value.

Q. List the top 3 countries by number of orders.

Q. Show the average order total for customers who have placed more than 3 orders.

# Hard Level:

Q. Find the customer with the longest interval between two consecutive orders.

Q. List customers who have never ordered the same total amount more than once.

Q. Show the month with the largest increase in total sales compared to the previous month.

Q. Find customers whose last order total is greater than their average order total.

Q. List all customers who have a higher total order value than the customer with the lowest total order value.

Q. Display the country with the highest average order total per customer.

Q. Show the customer who has the largest gap between their highest and lowest order totals.